.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15rem;
    background-color: $whitesmoke;
    grid-row: 4 / 5;

    @include main {
        padding: 5rem 12.5rem;
    }

    @include tab {
        padding: 5rem 2.5rem;
    }

    @include phone {
        padding: 5rem 0.5rem;
    }

    &__logo {
        padding: 0 2.5rem;
        margin-right: auto;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        font-weight: 400;
        color: transparent;
        background: linear-gradient(to right, $primary-brand, $primary-light);
        -webkit-background-clip: text;

        @include main {
            padding: 0 1.5rem;
        }

        @include tab {
            padding: 0 1rem;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
    }

    &__item {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        padding: 0 2.5rem;
        transition: all 1s;

        @include main {
            padding: 0 1.5rem;
        }

        @include tab {
            padding: 0 1rem;
        }

        @include phone {
            display: none;
        }

        &:hover {
            transform: scale(1.1);
            color: $primary-brand;
            cursor: pointer;
        }
    }
}