.nav {
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    background-color: $whitesmoke;
    padding: 0 15rem;

    @include main {
        padding: 0 12.5rem;
    } 

    @include tab {
        padding: 0 2.5rem;
    }

    @include phone {
        padding: 5rem 0.5rem;
    }

    &__logo {
        padding: 0 2.5rem;
        margin-right: auto;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        font-weight: 400;
        color: transparent;
        background: linear-gradient(to right, $primary-brand, $primary-light);
        -webkit-background-clip: text;

        @include main {
            padding: 0 1.5rem;
        }

        @include tab {
            padding: 0 1rem;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
    }

    &__icon {
        font-size: 1.75rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        padding: 0 2.5rem;
        cursor: pointer;
        transition: all .75s;

        &:hover {
            transform: scale(1.2);
            color: $primary-brand;
            cursor: pointer;
        }

        @include main {
            padding: 0 1.5rem;
        }

        @include tab {
            padding: 0 1rem;
            // display: none;
        }
    }
}

.square {
    visibility: hidden;
    height: 2.5rem;
    width: 3rem;
    transition: all 1s;
    position: fixed;
    cursor: pointer;

    @include phone {
        padding: 0 5rem;
    }

    &.open .nav__ham {
        // transform: translateX(2rem);
        background: transparent;
    }

    &.open .nav__ham::before {
        // transform: translateX(2rem);
        transform: rotate(-45deg);
    }

    &.open .nav__ham::after {
        // transform: translateX(2rem);
        transform: rotate(45deg);
    }
}

.ham {
    // display: none;
    height: 0.2rem;
    width: 3rem;
    background-color: $dark-text;
    position: relative;
    transition: all 1s;

    @include tab {
        display: inline-block;
        // position: fixed;
        // This changes the spacing of the hamburger element, so I've kept it off for now.
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 0.2rem;
        width: 3rem;
        background-color: $dark-text;
        transition: all 1s;
    }

    &::before {
        transform: translateY(-0.9rem);
    }

    &::after {
        transform: translateY(0.9rem);
    }
}

.far,
.fas {
    font-size: 3rem;
    color: transparent;
    background: linear-gradient(to right, $primary-brand, $primary-light);
    -webkit-background-clip: text;
}